body {
	-webkit-user-select: none;
	font-family: "Fairview Regular";
	color: #ffffff;
}
.main {
	height: 1080px;
	width: 1920px;
	border-style: solid;
	border-color: #ff0000;
	background-image: url("DSC00828.jpg");
	background-size: 1920px;
}
@font-face {
	font-family: Fairview Regular;
	src: url("Fairview_Regular.otf") format("opentype");
}
@font-face {
	font-family: Fairview SmallCaps;
	src: url("Fairview_SmallCaps.otf") format("opentype");
}
ul#topiclist-vertical {
	font-size: 75px;
	padding-left: 20px;
	margin: 20px 0 0 0;
	list-style-type: none;
}
ul#topiclist-vertical li.active{
	padding-left: 10px;
	border-left: thick solid;
	border-left-width: 10px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
}
ul#topiclist {
	font-size: 100px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
ul#topiclist li{
	display:inline-flex;
	flex-flow: row;
	align-items: baseline;
	/*justify-content: space-between;*/
	margin-right: 0 auto;
}
ul#topiclist li.active{
	border-bottom: thick solid;
	border-bottom-width: 10px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
}
.FUCKINGLEADING {
	letter-spacing: 1.5px;
}
.screenshare {
	position: relative;
	left: 284px;
	top: -320px;
	height: 920px;
	width: 1636px;
}
#topicContainer-main{
	position: absolute;
	height:75px;
	top:950px;
	margin-left: 100px;
}
#topicContainer-screenshare{
	position: absolute;
	height:75px;
	top:950px;
	margin-left: 300px;
}
#topicListContainer{
	height: 75px;
	overflow: hidden;
}
.currenttopic{
	font-size: 75px;
}
#firstitem{
	padding-top: 0px;
	margin: 0 0 0 0;
}
#item{
	padding-top: 0px;
}
#topics {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}
p {
	font-family: "Fairview SmallCaps";
	font-weight: 700;
	margin: 0 0 0 0;
	font-size: 50px;
}
button {
	margin-top: 50px;
	height: 100px;
	width: 200px;
}
#webcam-horizontal{
	width: 1920px;
	margin-left: 100px;
	margin-right: 100px;
	top:300px;
	position: absolute;
}
div#webcam-horizontal div{
	float: left;
	width: 500px;
	height: 550px;
}
.middlecam-horizontal{
	margin-left: 105px;
	margin-right: 105px;
}
#webcam-vertical{
	margin-left: 30px;
	top: 350px;
	position: absolute;
}
div#webcam-vertical div{
	width: 200px;
	height: 220px;
}
.middlecam-vertical{
	margin-top: 30px;
	margin-bottom: 30px;
}