body {
	-webkit-user-select: none;
	font-family: "Fairview Regular";
	color: #ffffff;
}
.main {
	height: 1080px;
	width: 1920px;
	border-style: solid;
	border-color: #ff0000;
	background-image: url("DSC00828.jpg");
	background-size: 1920px;
}
.topic {
	font-size: 100px;
}
@font-face {
	font-family: Fairview Regular;
	src: url("Fairview_Regular.otf") format("opentype");
}
@font-face {
	font-family: Fairview SmallCaps;
	src: url("Fairview_SmallCaps.otf") format("opentype");
}
ul#topiclist {
	/*margin-left:150px;*/
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
ul#topiclist li{
	display:inline-flex;
	flex-flow: row;
	align-items: baseline;
	/*justify-content: space-between;*/
	margin-right: 0 auto;
}
li.active{
	border-bottom: thick solid;
	border-bottom-width: 10px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
}
.FUCKINGLEADING {
	letter-spacing: 1.5px;
}
#topicContainer{
	height:75px;
	margin-top: 740px;
	margin-left: 150px;
}
#topicListContainer{
	height: 75px;
	overflow: hidden;
}
.currenttopic{
	font-size: 75px;
}
#firstitem{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#item{
	padding-top: 15px;
}
#topics {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}
p {
	font-family: "Fairview SmallCaps";
	font-weight: 700;
	margin: 0 0 0 0;
	font-size: 50px;
}
